# virtual environment
.venv/
penv

# cache
__pycache__
.DS_Store

# data
data/
!data/ARC_evaluation_tasks_ordered.json
!data/ARC_training_tasks_ordered.json

# excluded analyses
# analysis/excluded/

# some source code
src/make_dataset_csv.py

figures/

# ignore
steps.txt