# virtual environment
.venv/
penv

# cache
__pycache__
.DS_Store

# data
data/
data_/
survey/
*.pkl
*tar.gz

# excluded analyses
# analysis/excluded/

# some source code
src/make_dataset_csv.py

figures/

models/*
# ignore
steps.txt
*.out
*.sbatch
