# virtual environment
.venv/

# cache
__pycache__
.DS_Store

# data
data/kaggle_solutions/greenblatt
data/ARC_evaluation_tasks_ordered.json
data/ARC_training_tasks_ordered.json
data/ARC_evaluation_tasks_order.csv
data/ARC_training_tasks_order.csv


